<div class="landing-page">
 
  <!-- Hero -->
  <div class="landing-card">
    <h1 class="landing-title">
      <b>EduSphere</b>
    </h1>
    <h2>
      Educational Event Management Platform
    </h2>
 
    <p class="landing-subtitle">
      <b>Plan, manage, and participate in educational events with secure
      role-based access for institutions, educators, and students.</b>
    </p>
 
    <div class="action-buttons">
      <button class="btn-primary" (click)="goToLogin()">
        Login
      </button>
 
      <button class="btn-outline" (click)="goToRegister()">
        Register
      </button>
    </div>
  </div>
 
  <!-- Features -->
  <div class="feature-section">
    <div class="feature-card">
      <h3>Event Scheduling</h3>
      <p>Create and manage workshops, seminars, and conferences.</p>
    </div>
 
    <div class="feature-card">
      <h3>Resource Allocation</h3>
      <p>Assign classrooms, materials, and teaching aids effortlessly.</p>
    </div>
 
    <div class="feature-card">
      <h3>Secure Access</h3>
      <p>JWT-based authentication with role-based authorization.</p>
    </div>
  </div>
 
</div>
 
